﻿@model IEnumerable<FinalExam.Models.Classification>

@{
    ViewBag.Title = "Classification";
}

<h2>Classification</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
    </tr>
}

</table>
