﻿@model IEnumerable<FinalExam.Models.Genre>

@{
    ViewBag.Title = "Index";
}


<h2>Home</h2>

Welcome to our Art Page!<br><br><br>
Please use the Navigation at the top of the page to browse by Artist, ArtWork, or Classification!





<br>


@foreach (var item in Model)
{
    <form>
        <input id="@Html.DisplayFor(modelItem => item.Name)" type="button" name="request" value="@Html.DisplayFor(modelItem => item.Name)" />
    </form>
}

<table class="table">

    <tr>
        <th>
            Works of Art
        </th>
    </tr>
    <tr>
        <div id="text">

        </div>
    </tr>
    



</table>
    @section PageScripts
{
        <script type="text/javascript" src="~/Scripts/GenreList.js"></script>
    }


