﻿@model IEnumerable<HW8.Models.Pirate>

@{
    ViewBag.Title = "Booty";
}

<h2>Booty</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}

</table>
<ul class="pagination">
    @for (int i = 1; i <= ViewBag.numofpages; i++)
    {
        <li>@Html.ActionLink(i.ToString(), "Booty", new { page = i })</li>
    }

</ul>

<form>
    <input id="Number" type="number" name="PirateID" value="1" />
    <input id="request" type="button" name="request" value="Request" />
</form>

<div id="Message"></div>
<div id="pirate"></div>
<div id="crewcount"></div>
<div id="bootytotal"></div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/booty.js"></script>
}