﻿@model IEnumerable<HW8.Models.Crew>

@{
    ViewBag.Title = "Crews";
}

<h2>Crews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pirate.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BootyValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pirate.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BootyValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
