﻿
@{
    ViewBag.Title = "Index";
}

<h2>Pirates and More!!!</h2>

<p>Welcome to our pirate Index. <br><br><br><br>Please use the links at the top of this page to navagate through our pirate data!</p>
