﻿@model HW5Again.Models.ChangeRequest

@{
    ViewBag.Title = "CurrentRequests";
}

<h2>CurrentRequests</h2>

<div>
    <h4>ChangeRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MiddleI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
