﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form>
    <input id="tic" type="text" name="Ticker" />
    <input id="wid" type="number" name="Width" value="300" />
    <input id="height" type="number" name="Height" value="400"/>
    <input id="request" type="button" name="request" value="Request" />
</form>

<div id="TickerID"></div>


<div id="graph"></div>



@section PageScripts
{
<script type="text/javascript" src="~/Scripts/dygraph-combined-dev.js"></script>
    <script type="text/javascript" src="~/Scripts/Tickerscript.js"></script>
}