header, main, nav, footer, figure, figcaption, aside, section, article{
    display:block;
}



body {  
    background-color: black;
    background-image: linear-gradient(to bottom, #FFFFFF, black); 
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    display: block;
    background-color: #FFFFFF;
}

header {
    background-color: black; 
    color: #FFFFFF; 
    background-image: url(sunset.jpg); 
    background-position: right; 
    background-repeat: no-repeat;
    height:60px;
    text-align: center;
    padding-top: 15px;
}

nav {
    padding: 20px;
    float: left;
    width:160px;
    font-weight: bold;
    
}

nav ul{
    font-size: 1.2em;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

nav a{
    text-decoration: none;
}

dt{
    font-weight: bold;
    padding-top: 10px;
}

nav a:link{
    color: #FFFFFF;
}

nav a:visited{
    color: #FFFFFF;
}

#contact {
    font-size: 90%;
}

footer {
    margin-left: 190px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 75%; 
    text-align: center; 
    font-style: italic;
    padding: 20px;
    background-color: #FFFFFF;
}

h1 {
    margin-bottom: 0; 
    margin-top: 0;
    font-family: Georgia, "Times New Roman", serif;
}

h2 {
    color: #000000;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    font-family: Georgia, "Times New Roman", serif;
}


#contact {
    font-size: 90%;
}

#wrapper {
    margin: auto;
    width: 80%;
    background-color: #666666;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}


#mobile{
    display: none;
}

#desktop{
    display: inline;
}

@media only screen and (max-width: 64em){
    body{
        margin: 0;
        background-color: #FFFFFF;       
    }
    
    #wrapper{
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    
    main{
        margin-left: 0;
    }
    
    nav{
        float: none;
        width: auto;
        padding: .5em;
        text-align: center;
    }
    nav li{
        display: inline;
        padding: .25em .75em .25em .75em;
    }
    
    footer{
        margin-left: 0;
    }
}


@media only screen and (max-width: 37.5em){
    header{
        padding-top: 1em;
    }
    
    main{
        padding: .1em 1em .1em 1em;
        font-size: 90%;
    }
    
    h1{
        font-size: 1.5em;
    }
    nav{
        padding: 0;
    }
    
    nav li{
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }
    
    nav a{
        display: block;
    }
    
    #mobile{
        display: inline;
    }
    
    #desktop{
        display: none;
    }
}