﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--Links to each problem page-->
<ul>
    <li>@Html.ActionLink("Problem 1", "Problem1", "Home")</li>
    <li>@Html.ActionLink("Problem 2", "Problem2", "Home")</li>
    <li>@Html.ActionLink("Problem 3", "Problem3", "Home")</li>
</ul>








