﻿
@{
    ViewBag.Title = "Problem1";
}

<h2>Problem1</h2>


<!--A table that shows each set of data from the viewbag-->
<table class="table">

    <tr>
        <th>CRN</th>
        <th>Course Title</th>
        <th>Day</th>
        <th>Time</th>
    </tr>
    <tr>
        @foreach (var s in ViewBag.data)
        {
            <td>@s</td>
        }
    </tr>
    
    

</table>

<!--A form to collect the input from the user with predefined inputs to help the user understand format-->
<form method="get">
    <input type="text" name="crn" value="CRN" />
    <input type="text" name="course" value="Course Name" />
    <input type="text" name="day" value="Day" />
    <input type="text" name="time" value="Time 8:00-8:50" />
    <input type="submit" name="submit" value="Submit" />
</form>