﻿
@{
    ViewBag.Title = "Problem2";
}

<h2>Problem2</h2>

<!--A form to collect the input from the user with predefined inputs to help the user understand format-->
<form method="post">
    <input type="text" name="crn" value="CRN" />
    <input type="text" name="course" value="Course Name" />
    <input type="text" name="day" value="Day" />
    <input type="text" name="time" value="Time 8:00-8:50" />
    <input type="submit" name="submit" value="Submit" />
</form>

<!--Display the ViewBag.Message information from controller-->
<h3>@ViewBag.Message</h3>