﻿
@{
    ViewBag.Title = "Problem3";
}

<h2>Problem3</h2>


<!--Displays the ViewBag.Message data from the conroller-->
<p>@ViewBag.Message</p>

<!--A form to collect the input from the user with predefined inputs to help the user understand format-->
<form method="post">
    <input type="number" min="0.01" step="0.01" max="9999999999" name="prin" value="Principal (1000.00)" />
    <input type="number" min="0.01" step="0.01" max="1.00" name="rate" value="Interest Rate (0.06)" />
    <input type="submit" name="submit" value="Submit" />
</form>

