﻿@model IEnumerable<HW6.Models.ProductSubcategory>

@{
    ViewBag.Title = "CategoryResults";
}

<h2>SubCategories</h2>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Product Category
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.Name, "ProductList", new { ID = item.ProductSubcategoryID })
        </td>
    </tr>
}

</table>
