﻿@model IEnumerable<HW6.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>


<table class="table">
    <tr>
        <th>
            Main Product Categories
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "CategoryResults", new { ID = item.ProductCategoryID })
        </td>
    </tr>
}

</table>
